<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POS.Properties.Settings.Mini2CPRConnectionString"
            connectionString="Data Source=LAPTOP-JL7A7VB3\SQLEXPRESS;Initial Catalog=Mini2CPR;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>